include includes/header.pug
main
  input(type="hidden" id="port" value=port)
  .information
    .information1
      p Information
    .information2
    .information3
  .gamepad-container
    .movement
      .north
        a
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 -10 100 100")
            g
              ellipse(cx="40" cy="40" rx="45" ry="45" fill="#646D76" stroke="#000000" pointer-events="none")
              path(d="M 30.5 17 L 49.5 37 L 30.5 57 Z" fill="#4D5065" stroke="#606872" stroke-width="0.05" stroke-miterlimit="10" transform="rotate(-90,40,37)" pointer-events="none")
      .south
        a
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 -10 100 100")
            g
              ellipse(cx="40" cy="40" rx="45" ry="45" fill="#646D76" stroke="#000000" pointer-events="none")
              path(d="M 30 24 L 49 44 L 30 64 Z" fill="#4D5065" stroke="#606872" stroke-width="0.05" stroke-miterlimit="10" transform="rotate(89,39.5,44)" pointer-events="none")
      .west
        a
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 -10 100 100")
            g
              ellipse(cx="40" cy="40" rx="45" ry="45" fill="#646D76" stroke="#000000" pointer-events="none")
              path(d="M 28 20 L 47 40 L 28 60 Z" fill="#4D5065" stroke="#606872" stroke-width="0.05" stroke-miterlimit="10" transform="rotate(180,37.5,40)" pointer-events="none")
      .east
        a
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 -10 100 100")
            g
              ellipse(cx="40" cy="40" rx="45" ry="45" fill="#646D76" stroke="#000000" pointer-events="none")
              path(d="M 35 20 L 54 40 L 35 60 Z" fill="#4D5065" stroke="#606872" stroke-width="0.05" stroke-miterlimit="10" pointer-events="none")
    .system
      .north
        p(class="text-center") Gamepad
      .south
        a(class="left")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-5 -5 90 50")
            g
              rect(x="0" y="0" width="80" height="40" rx="9" ry="9" fill="#636975" stroke="#000000" pointer-events="none")
        a(class="right")
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-5 -5 90 50")
            g
              rect(x="0" y="0" width="80" height="40" rx="9" ry="9" fill="#636975" stroke="#000000" pointer-events="none")
    .action
      .north
        a
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 -10 100 100")
            g
              ellipse(cx="40" cy="40" rx="45" ry="45" fill="#2C80C1" stroke="#000000" pointer-events="none")
      .south
        a
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 -10 100 100")
            g
              ellipse(cx="40" cy="40" rx="45" ry="45" fill="#FCCA0A" stroke="#000000" pointer-events="none")
      .west
        a
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 -10 100 100")
            g
              ellipse(cx="40" cy="40" rx="45" ry="45" fill="#4FB34B" stroke="#000000" pointer-events="none")
      .east
        a
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="-10 -10 100 100")
            g
              ellipse(cx="40" cy="40" rx="45" ry="45" fill="#D93847" stroke="#000000" pointer-events="none")
script(src="/public/vendor/io/socket.io.js")
script(type="module" src="/public/scripts/gamepad.js")