include includes/header.pug
header
  h1(class="text-center") Coopad
main
  .container
    .row
      .col-sm-12
        .flex-container
          a(class="btn btn-primary btn-lg btn-block" href="/gamepad") Normal Gamepad
          a(class="btn btn-primary btn-lg btn-block" href="/createMediator") Create Shared Gamepad
          a(class="btn btn-primary btn-lg btn-block" href="/mediators") Join Shared Gamepad
include includes/footer.pug